streamlit==1.35.0
pandas==2.2.2
plotly==5.21.0
prophet==1.1.5
PyMuPDF==1.24.4
google-generativeai==0.5.4
python-dotenv==1.0.1
scikit-learn==1.5.0
streamlit-autorefresh==0.0.4
xgboost==2.0.3
numpy==1.26.4
statsmodels==0.14.0
scipy==1.11.4
SQLAlchemy==2.0.30
psycopg2-binary==2.9.9
